<!DOCTYPE html>
<html>
  <head>
    <title>PruebaAjax5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
    <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
